alembic==1.16.5
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
backoff==2.2.1
beautifulsoup4==4.14.3
blinker==1.9.0
boto3==1.42.68
botocore==1.42.68
cachetools==5.5.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.1.8
cloudpickle==3.1.2
contourpy==1.3.0
coverage==7.10.7
cryptography==46.0.5
cycler==0.12.1
dacite==1.6.0
dagshub==0.6.8
dagshub-annotation-converter==0.1.16
databricks-sdk==0.99.0
dataclasses-json==0.6.7
docker==7.1.0
exceptiongroup==1.3.1
Flask==3.0.0
fonttools==4.60.2
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
googleapis-common-protos==1.73.0
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.8
graphql-relay==3.2.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
kiwisolver==1.4.7
liac-arff==2.5.0
lxml==6.0.2
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Mako==1.3.10
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.9.4
mdurl==0.1.2
mlflow==2.19.0
mlflow-skinny==2.19.0
multidict==6.7.1
mypy_extensions==1.1.0
numpy==2.0.2
opentelemetry-api==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
packaging==24.2
pandas==2.3.3
pathvalidate==3.3.1
pillow==11.3.0
pluggy==1.6.0
prometheus_client==0.24.1
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.6
psutil==7.2.2
pyarrow==18.1.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
pytest==8.4.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.3
s3transfer==0.16.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
semver==3.0.4
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.3
soupsieve==2.8.3
SQLAlchemy==2.0.48
sqlparse==0.5.5
tenacity==9.1.2
threadpoolctl==3.6.0
tomli==2.4.0
treelib==1.8.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==1.26.20
Werkzeug==3.1.5
yarl==1.22.0
yellowbrick==1.5
zipp==3.23.0
